<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:insert="~{template :: header (pageTitle='update product')}"></head>
<body>

<h1 class="center" align="center" th:text="${text}"></h1>
<hr/>

<form action="#" th:action="@{/product/update}" th:object="${product}" method="post">
    <label for="id">ИД: </label>
    <input readonly type="number" th:field="*{id}" id="id" placeholder="ID">
    <br/>
    <label for="title">Наименование: </label>
    <input required type="text" th:field="*{title}" id="title" placeholder="Наименование">
    <br/>
    <input type="submit" value="Сохранить изменения">
</form>

</body>
</html>