<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:insert="~{template :: header (pageTitle='product list')}"></head>
<body>

<h1 class="center" align="center" th:text="${text}"></h1>
<hr/>
<p><a href="product/add">Добавить изделие</a></p>
<table class="table table-striped table-hover">
    <thead>
    <tr class="table-secondary">
        <th>Наименование</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product : ${products}">
        <td th:text="${product.title}"></td>
        <td><a th:href="@{product/{id}(id=${product.id})}">Редактировать</a>   <a th:href="@{product/delete/{id}(id=${product.id})}">Удалить</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>